<section class="details">
    <h1 class="module">documentation</h1>
    <h4 class="ver">version 1.0</h4>
    <p><em>&nbsp;Everything you need to know about Orange-Ballon E-Commerce Apis.</em></p>

    <div class="container-fluid abbreviations">
        <div class="heading">abbreviations</div>
        <div class="row">
            <div class="col-2">
                <ul type="none">
                    <li class="type">params</li>
                    <li>uid</li>
                    <li>pid</li>
                    <li>cpid</li>
                    <li>oid</li>
                    <li>rnid</li>
                    <li>pcid</li>
                    <li>rid</li>
                    <li>pcode</li>
                </ul>
            </div>
            <div class="col-5">
                <ul type="none">
                    <br>
                    <li>user_id</li>
                    <li>product_id</li>
                    <li>cart_product_id</li>
                    <li>order_id</li>
                    <li>return_id</li>
                    <li>productCustomization_id</li>
                    <li>review_id</li>
                    <li>product_code saved in db 'product' as field 'code'</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid docs">
        <% if(Array.isArray(documentation)) { documentation.forEach(document => { %>
            <div class="row">

                <div class="col-6 api">
                    <div class="division"><%= document.division %></div>
                    <div class="components">
                        <table>
                            <% let bodyKeys, bodyLen; const components = Object.keys(document); components.forEach(component => { if(component !== '_id' && component !== 'division' && component !== 'route') { %>
                                <% if(component === 'module' || component === 'method') { %>
                                    <tr>
                                        <td><%= component %></td>
                                        <td><label class="emphasize-<%= component %>"><%= document[component] %></label></td>
                                    </tr>
                                <% } else if(component === 'body') { %>
                                    <tr>
                                        <td><%= component %></td>
                                        <td>
                                            <% if(document[component] !== '-') { bodyKeys = Object.keys(document[component]); bodyLen = bodyKeys.length; for (let i=0; i<bodyLen;) { %>
                                                <%= bodyKeys[i++] %><%= i<bodyLen ? ',' : '' %>
                                            <% } } else { %><%= document[component] %><% } %>
                                        </td>
                                    </tr>
                                <% } else { %>
                                    <tr>
                                        <td><%= component %></td>
                                        <td><%= document[component] %></td>
                                    </tr>
                                <% } %>
                            <% } }); %>
                        </table>
                    </div>
                </div>

                <div class="col-6 eg">
                    <div class="head">example</div>
                    <div class="format">
                        <ul type="none">
                            <li><label class="emphasize"><%= document.host + '/' + document.route %></label></li>
                            <% if(document.token === 'required') { %><li>Authorization: Bearer $token</li><% } %>
                            <% if(document.headers !== '-') { %>
                                <li><%= document.headers %></li>
                                <li>{</li>
                                <ul type="none">
                                    <% for (let i=0; i<bodyLen;) { %>
                                        <li><label class="emphasize">"<%= bodyKeys[i] %>"</label>: "<%= document.body[bodyKeys[i++]] %>"<%= i<bodyLen ? ',' : '' %></li>
                                    <% } %>
                                </ul>
                                <li>}</li>
                            <% } %>
                        </ul>
                    </div>
                </div>

            </div>
        <% }); } else { %><h4><%= documentation %></h4><% } %>
    </div>
</section>

