<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/index/header.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/index/main.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/index/navbar.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/index/down.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/footer.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/common.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/header.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/navbar.css" type="text/css"/>

    <title>Orange-Ballon</title>
</head>
<body>
    <%- include('header') %>

    <!-- <div class="main"> -->
    <main>
        <!-- <section class="front"> -->
            <!-- <div class="row" id="navbar">
                <div class="col-4 logo"><img src='/graphics/logos/white.ico'></div>
                <div class="col-3"></div>
                <div class="col-3 mt-2">
                    <a href="/">home</a> -->
                    <!-- <a href="#">api<label>-</label>documentation</a> -->
                    <!-- <a href="/docs">documentation</a>
                    <a href="https://devtrek.herokuapp.com/">blog</a>
                </div>
            </div> -->
            <%- include('navbar') %>

            <!-- <br><br><br><br><br><br> -->
            <!-- <h1> <%= // data %><br><%= // token ? token : 'no token'  %> 🚀 </h1> -->
            <h1 class="tagline">Api's are what we build to talk over cross platforms.. 🚀</h1>
        <!-- </section> -->

        <!-- <section class="down">
            <p><h2>What is REST ?</h2>REST is acronym for Representational State Transfer. It is architectural style for distributed hypermedia systems and was first presented by Roy Fielding in 2000 in his famous dissertation.</p>

        </section> -->
        <%- include('down') %>
    </main>

    <%- include('footer') %>

    <!-- <script src="/scripts/front.js"></script> -->
    <script src="/scripts/indexNavbar.js"></script>
    <!-- <script src="/scripts/down.js"></script> -->
</body>
</html>

